@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page__main{
    background-image: url(images/logo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.page__content {
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page__img {
    width:  150px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 10px;
}

.page__form {
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 20px;
    width: calc(100% / 3.5)!important;
    backdrop-filter: blur(5px);
    min-width: 32%;
}
.login{
    text-align: center;
    font-size: 35px;
    color: white;
}
input,.butt{
    width:calc(100%/1);
    height: 13px;
    margin-block: 6%;
}
input{
    cursor: text;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 15px;
    font-size: 20px;
}
.butt{
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 7vh;
    min-height: 6vh;
    transition: 1s;
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.butt:hover{
    background-color:crimson;
    color: white;
}
#user{
    font-size: 16px;
}
#pwrd{
    font-size: 16px;
    color: black!important;
}

.label1{
    color: white;
    font-size: 18px;
    margin-top: 30px;
    transition: 2s; 
} 
.label2{
    color: white;
    font-size: 18px;
    margin-top: 25px!important;
    transition: 2s;
}

#pwrd:focus {
    background-color: white;
}

.eye-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* padlock fontawe */
.fa-eye,.fa-eye-slash{
    cursor: pointer;
    z-index: 99;
    margin-left: -32px;
} 


/* media query */
@media screen and (max-width:990px) {
    .page__form {
        /* width:0%; */
        min-width: 48%;
    }
    .butt{
       min-height: 3vh!important;
    }
}

@media screen and (max-width:787px) {
    .page__form {
        min-width: 55%;
    }

}

@media screen and (max-width:600px) {
    .page__form {
        min-width: 75%;
    }
}