@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page__main{
    background-image: url(images/logo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.page__content {
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page__img {
    width:  150px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 10px;
}

.page__form {
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 20px;
    width: calc(100% / 3.5)!important;
    backdrop-filter: blur(5px);
    min-width: 32%;
}
.login{
    text-align: center;
    font-size: 35px;
    color: white;
}
#login-form  input,.butt{
    width:calc(100%/1);
    height: 13px;
    margin-block: 6%;
}
#login-form input{
    cursor: text;
    border: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 15px;
    font-size: 20px;
}
.butt{
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 7vh;
    min-height: 6vh;
    transition: 1s;
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
.butt:hover{
    background-color:crimson;
    color: white;
}
#user{
    font-size: 16px;
}
#pwrd{
    font-size: 16px;
    color: black!important;
}

.label1{
    color: white;
    font-size: 18px;
    margin-top: 30px;
    transition: 2s; 
} 
.label2{
    color: white;
    font-size: 18px;
    margin-top: 25px!important;
    transition: 2s;
}

#pwrd:focus {
    background-color: white;
}

.eye-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* padlock fontawe */
.fa-eye,.fa-eye-slash{
    cursor: pointer;
    z-index: 99;
    margin-left: -32px;
} 


/* media query */
@media screen and (max-width:990px) {
    .page__form {
        /* width:0%; */
        min-width: 48%;
    }
    .butt{
       min-height: 3vh!important;
    }
}

@media screen and (max-width:787px) {
    .page__form {
        min-width: 55%;
    }

}

@media screen and (max-width:600px) {
    .page__form {
        min-width: 75%;
    }
}

/* main (packages pg) */
.main-pack{
    background-image: url(images/clement-m-Ng3xrviPrhk-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color:white;
    height: 100vh;
    position: relative;
}
.overlay{
    background-color: rgba(0,0,0,.6);
    height: 100vh;
}
.logo-butt{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.exist{
    border: none!important;
    color: white;
    background:linear-gradient(180deg,red,black)!important;
    margin-top: 20px;
    height: 50px;
    border-radius: 10px;
    width: 180px;
    min-width: 130px!important;
    cursor: pointer;
    font-size: 19px;
    margin-right:130px ;
}
.logo{
    width: 150px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    margin-left: 110px;
}
.logo-img{
    width: 200px;
    margin-left: -20px;
}

/* card */

.container{
    gap: 20px; 
}

.card{
    margin-top: 150px!important;
    width: 50%;
    min-width: 350px;
    height: 32vh;
    color: black;
    background-color:white!important;
    backdrop-filter: blur(30px)!important;
    border: 3px solid rgb(139,0,0)!important;
    border-radius: 15px!important;
    text-align: center;
    font-size: 20px;
    transition: 3s;
}

.card-link button{
    border: none!important;
    color: white;
    background:linear-gradient(180deg,red,black)!important;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    min-width: 130px!important;
    cursor: pointer;
}
.card-link:hover{
   color:wheat;
}
.card-title{
    margin-top: 10px;
}

/* media query */
@media screen and (max-width:992px) {
    .main-pack,.overlay{
        height: 1200px;
    }
    .card{
        min-width: 400px!important;
        max-height: 200px;
        margin: 0 auto;
        margin-top: 70px!important;
        
    }
    .logo,.logo-img{
        width: 170px;
    }
}

@media screen and (max-width:600px) {
    .main-pack,.overlay{
        height: 850px;
    }
    .card{
        min-width: 80%!important;
        max-height: 200px;
        margin: 0 auto;
        margin-top: 30px!important;
        
    }
    .logo,.logo-img{
        width: 120px;
    }
    .card-link button{
        max-width: 150px;
        font-size: 17px;
        max-height: 50px;
    }
}




/* add subscriber page */
.main-add-sub{
    background: linear-gradient(200deg,#caccd1,#f3f4f7);
    background-repeat: no-repeat;
    height: 100vh;
}
.reg-sub{
    text-align: center;
    font-size: 35px;
    color:rgb(215,0,0);
    padding-top: 30px;
}
#form{
    margin-top: 2%; 
}
.sub-fieldset{
    width: 30%;
    height: 70vh;
    min-width: 30vw;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px 4px #caccd1;
    padding: 30px 25px 0;
}
.sub-fieldset > input,#submit{
    display: block;
    width:100%;
    margin-top: 5px;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}
#submit{
    background:linear-gradient(360deg,red,black)!important;
    margin-top: 17px;
    height: 35px;
    min-height: 30px;
    cursor: pointer;
    color: #f3f4f7;
    font-size: 17px;
}

.sub-fieldset > label{
    margin-top: 1.5%;
    color:black;
    font-size: 20px;
    text-align: left;
}

/* media query */
@media screen and (max-width:1024px) {
    .sub-fieldset{
       min-width: 40vw;

    }
}

@media screen and (max-width:990px) {
    .sub-fieldset{
       min-width: 40%;
      /* height: 50vh; */
       
    }
}

@media screen and (max-width:787px) {
    .sub-fieldset{
       min-width: 50%;
    }
}

@media screen and (max-width:600px) {
    .sub-fieldset{
       min-width: 70%;
    }
}


/* onetime wash/ subwash styling */
.one-time{
    background:linear-gradient(100deg,#e1dada,#caccd1,#bdcad9);
    height: 100vh;
}
.reg-sub{
    text-align: center;
    font-size: 35px;
    color:rgb(215,0,0);
    /* padding-top: 30px; */
}
.one-time-field{
    width: 30%;
    height:66vh;
    min-width: 30vw;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px 4px #f3f4f7;
    padding: 30px 25px 0;
}

#one-time-form{
    padding-top: 2%;
}

.one-time-field > input,#subm{
    display: block;
    width:100%;
    margin-top: 5px;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.one-time-field > label{
    margin-top: 1.5%;
    color:black;
    font-size: 20px;
    text-align: left;
}

#subm{
    background:linear-gradient(360deg,red,black)!important;
    margin-top: 20px;
    height: 35px;
    min-height: 30px;
    cursor: pointer;
    color: #f3f4f7;
    font-size: 17px;
}



/* media query */
@media screen and (max-width:1024px) {
    .one-time-field{
       min-width: 40vw;
    }
}

@media screen and (max-width:990px) {
    .one-time-field{
       min-width: 50%;
      height: 40vh;
       
    }
    #subm{
        margin-top: 30px!important;
    }
}

@media screen and (max-width:787px) {
    .one-time-field{
       min-width: 50%;
    }
}
.reg-sub{
    font-size: 20px;
}

@media screen and (max-width:600px) {
    .one-time-field{
       min-width: 80%;
      height: 70vh;

    }
}


/* subwash */
#subwash{
    width: 30%;
    height:53vh;
    min-width: 30vw;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px 4px #f3f4f7;
    padding: 30px 25px 0;
}
#subwash  input,#subm,select{
    display: block;
    width:100%;
    margin-top: 5px;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#subwash label{
    margin-top: 1.5%;
    color:black;
    font-size: 20px;
    text-align: left;
}

/* media query */
@media screen and (max-width:1024px) {
    #subwash{
       min-width: 40vw;
    }
}

@media screen and (max-width:990px) {
    #subwash{
       min-width: 60%;
       height: 30vh!important;
       margin-top: 40px;
    }
}

@media screen and (max-width:600px) {
   #subwash{
       min-width: 80%;
      height: 60vh!important;

    }
}


/* search pg styling */
.search-main{
    background:linear-gradient(100deg,#e1dada,#caccd1,#bdcad9);
    height: 100vh; 
}
.logos{
    width: 200px;
    margin: 0 auto;
    display: flex;
}
.search-content{
    width: 100%;
    min-width: 80%;
    margin-top: 60px!important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
} 
#search-form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 70%;
}

.search-content #search{
    width: 60%;
    height: 50px;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 16px;
    font-size: 18px;

} 
#go{
    width: 10%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: maroon;
    color: #f3f4f7;
    cursor: pointer;
    margin-left: 20px;
}


@media screen and (max-width:990px) {
    .search-content #search{
        min-width: 80%;
    }
    

}

@media screen and (max-width:600px) {
    #search{
        width: 90%;
        display: flex;
    }
    .search-content #search{
        width: 40%;
    }
    #go{
        width: 50px;
        margin-left: 5px;
    }
}

/* print page styling */
.print-main{
    width: 60%;
    min-width:50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.page-cont{
    background-color: #e1dada;
    height: 100vh;
}
.print-fset{
    width: 70%;
    text-align: center;
    margin-top:40px!important;
    margin: 0 auto;

}
.print-fset #print{
    width: 20vw;
    padding: 6px;
    border-radius: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.logo-print{
    width: 150px;
}