@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background: linear-gradient(100deg,#071952,#0B666A,#35A29F,#97FEED);
    background-repeat: no-repeat;
    height: 100vh;
}
.reg{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 30px;
}
form{
    margin-left: 35%;
    margin-top: 2%;
   
}
fieldset{
    width: 45%;
    height: 70vh;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 10px;
}
input,#submit{
        width:270px;
        height: 5vh;
        margin-inline: 5%;
        margin-block: 3%;
}

label{
    margin-inline: 5%;
    margin-block: 1%;
    color: white;
    font-size: 20px;
}